
<table class="table table-striped table-hover table-bordered table-responsive">
    <!-- Contenu de la table -->
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Siren</th>
      <th scope="col">Type</th>
      <th scope="col">Nb Effectif</th>
      <th scope="col">CA</th>
      <th scope="col">Grossiste</th>
    </tr>
  </thead>
  <tbody>

{% if records %}
	{% for company_information in records %}
		<tr>
			<td>{{ company_information.nom_entreprise }} </td>
			<td>{{ company_information.siren }}</td>
			<td>{{ company_information.type_entreprise}}</td>
			<td>{{ company_information.nb_Effectif }}</td>
			<td>{{ company_information.Chiffre_Affaire }}</td>
			<td>{{ company_information.Grossiste }}</td>

		</tr>
	{% endfor %}
{% endif %}
  </tbody>
</table>