{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
</head>
<body>
    <h1>Code QR pour CDX CRM</h1>
    {% if json_data.first_connexion %}
        {% with qr_image_path="qrcode_"|add:username|add:".png" %}
            <img src="{% static qr_image_path %}" alt="Code QR">
        {% endwith %}
    {% endif %}

    <form method="post" action="{% url 'verify_code' username=username %}">
        {% csrf_token %}
        <label for="code">Entrez le code :</label>
        <input type="text" id="code" name="code" required>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
